-- In actual usage, the passwords shown here would be protected by ansible-vault
-- Do NOT store plaintext passwords like this for production usage
DROP DATABASE IF EXISTS test;
GRANT REPLICATION SLAVE, REPLICATION CLIENT ON *.* TO 'replication'@'%' IDENTIFIED BY 'replication';
GRANT ALL PRIVILEGES ON *.* TO 'joshv'@'%' IDENTIFIED BY 'blah' WITH GRANT OPTION;
DELETE FROM mysql.user WHERE User IN ('', 'root');
FLUSH PRIVILEGES;
